# SublimeText files
/*.sublime-*

# CMake files
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake

# Binary files
example

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.suo
/Debug/
/Win32/
/example.dir/
